body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

@font-face {
    font-family: Rust;
    src: url(fonts/introheadr-base-webfont.woff);
}

h1 {
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    align-items: start;
    min-width: max-content; 
    min-height: 100vh;
    background-color: #181818;
}

.header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #181818;
    border-bottom: 2px solid #212121;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    color: #fff;
    font-family: "Rust", system-ui;
    font-size: 40px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.logo > span {
    color: #F1C40F;
}

.logo svg {
    width: 50px;
    height: 50px;
    fill: #F1C40F;
    position: relative;
    bottom: 4px;
}

#search-library {
    font-size: 16px;
    height: 35px;
    padding: 0 10px;
    border-radius: 18px;
    border: 1px solid #3d3d3d;
    background-color: transparent;
    color: #fff;
    font-family: "Roboto", sans-serif;
    flex-grow: 1;
    max-width: 400px;
}

#search-library:focus {
    outline: none;
    border: 1px solid #F1C40F;
}

.new-book {
    font-size: 16px;
    height: 30px;
    padding: 0 15px;
    border-style: none;
    border-radius: 2px;
    background-color: #F1C40F;
    color: rgb(0, 0, 0, 0.8);
    font-family: "Roboto", sans-serif;
}

.library-name {
    grid-row: 2;
    color: #fff;
    padding: 15px 2px 0 20px;
    font-family: "Rust", system-ui;
    font-size: 30px;
    width: max-content;
}

#bg {
    height: 100%;
}

.books {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 225px);
    grid-auto-rows: minmax(200px, max-content);
    gap: 70px;
    position: relative;
    height: 100%;
    background-image: url(images/rafael-cosquiere.jpg);
    background-position: center;
    background-size: cover;
}

.books::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 500px 1000px #181818;
}

#add-book-form {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(min-content, 500px);
    grid-template-rows: repeat(5, 1fr);
    padding: 15px;
    border: 2px solid #f3f3f3;
    border-radius: 3px;
    background-color: #fffefe;
    gap: 15px;
}

#add-book-form div:nth-child(1),
#add-book-form div:nth-child(2),
#add-book-form div:nth-child(3) {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#add-book-form input[type='text'],
#add-book-form input[type='number'] {
    font-size: 16px;
    padding: 3px 5px;
    border: 1px solid #808080b7;
    border-radius: 5px;
}

#add-book-form input[type='text']:focus,
#add-book-form input[type='number']:focus {
    outline: none;
    border: 1px solid #F1C40F;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.btns {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px;
}

.btns button {
    border-style: none;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #c51350;
    color: #fff;
    border-radius: 5px;
}

dialog {
    border-radius: 5px;
    border: 1px solid silver;
    background-color: #c51350;
    margin: 50px auto;
    min-width: min-content;
    box-shadow: 2px 5px 8px rgb(0, 0, 0, 0.2);
}

::backdrop {
    background: #000;
    opacity: 0.2;
}

.card {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr repeat(2, max-content) 1fr;
    width: 225px;
    height: 275px;
    padding: 10px;
    border-radius: 2px;
    background: radial-gradient(circle at 100%, #333, #181818 50%, #181818 75%, #c51350 75%);
    box-shadow: inset 0 0 20px #181818,
    1px -1px rgb(255, 255, 255,0.2),
    3px -3px rgb(197, 19, 80,0.2),
    5px -5px rgb(255, 255, 255,0.2),
    7px -7px rgb(197, 19, 80,0.2);
    align-items: center;
    color: #fff;
    gap: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.book-title {
    font-size: 40px;
    grid-column: 1 / 3;
    grid-row: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-family: "Rust", system-ui;
}

.book-title + .info-label {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

.author {
    text-decoration: none;
    color: #F1C40F;
    grid-column: 2;
    grid-row: 2;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.author:hover {
    text-decoration: underline;
}

.author + .info-label {
    grid-column: 1;
    grid-row: 3;
    text-align: right;
}

.pages {
    grid-column: 2;
    grid-row: 3;
    font-size: 18px;
}

.read-status {
    background-color: #a2c11c;
    grid-column: 1 / 3;
    grid-row: 4;
    justify-self: right;
    align-self: end;
    font-size: 12px;
    color: inherit;
    font-weight: 700;
    padding: 5px;
    width: 60px;
    height: 40px;
    border-radius: 2px;
    border-style: none;
    text-align: center;
    position: relative;
    left: 20px;
    bottom: 10px;
    z-index: 1;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
    transform: skew(-10deg);
}

.read-status.no {
    background-color: #f70202;
}

.delete-btn {
    width: min-content;
    position: absolute;
    top: 0;
    right: 0;
    border-style: none;
    background-color: transparent;
    border-left: 1px solid rgb(128, 128, 128, 0.7);
    border-radius: 0 0 0 5px;
    fill: #fff;
}

.delete-btn svg {
    width: 20px;
    height: 20px;
    fill: inherit;
    z-index: 1;
}

.delete-btn:hover {
    fill: #ff0000;
    border-left: 1px solid #f70202;
}

.hide {
    display: none;
}

